.menu {
    width: 85vw;
    height: 10vh;
    background-color: #2d3136;
    top: 0;
    right: 0;
    position: fixed;

    input {
        border-style: none;
        border-radius: 2px;
        background-color: #393e44;
        width: 350px;
        height: 30px;
        margin-left: 250px;
        margin-top: 12px;
        z-index: 2;
    }
    .searchIcon {
        position: absolute;
         top: 50%;
         right: 650px;
         transform: translateY(-50%);
         color: #9c9ea1;
    }
}
